@font-face {
  font-family: Mulish, sans-serif;
  src: url(./fonts/Mulish-VariableFont_wght.ttf);
}

:root {
  --background-color: #2c2f34;
  --background-around: #23272A;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: Mulish, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

header {
    background-color: var(--background-around);
    display: none;
}

h1 {
  color: #99aab4;
  font-size: 1.8rem;
  width: max-content;
  margin-left: 0.7rem;
  flex-direction: row;
}

main {
    
    background-color: var(--background-color);
    flex-wrap: nowrap;
}

li {
    list-style: none;
}

.container {
    max-width: 192rem;
    display: flex;
}

.left-menu {
    background-color: var(--background-around);
    height: 100rem;
    width: 6.8rem;
}

.account-image {
    border-top: 1px var(--background-color) solid;
    height: 8.5rem;
    margin: 0 auto;
    position: relative;
}

.account-image a{
    display: block;
    max-width: max-content;
    position: relative;
    top: 25%;
    margin: auto;
}

.account-image:hover {
    background: linear-gradient(90deg, #54608B 0%, #2C2F34 100%);
}

.logo {
    display: block;
    border-radius: 100px;
    width: 5rem;
    height: 5rem;
}

.left-list li {
    list-style: none;
    height: 28rem;
    border-top: 1px var(--background-color) solid;
    display: flex;
    align-items: flex-end;
    max-height: 28rem;
}

.left-list li img{
    display: block;
    margin: 0 auto;
    margin-top: 0;
    width: 6rem;
    height: 6rem;
    fill: #7289D9;
}

.friends-left {
    width: 4rem;
    height: 4rem;
}

.settings {
    border-top: 1px var(--background-color) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.9rem;

}

.settings img {
    display: block;
    margin: 0 auto;
}

a:hover .settings:hover {
    background: linear-gradient(90deg, #54608B 0%, #2C2F34 100%);
}

.left-list li:hover {
    background: linear-gradient(90deg, #54608B 0%, #2C2F34 100%);
    animation: ease-in-out;
}

.lists-server {
    max-width: 24.5rem;
    border-top: 1px var(--background-color) solid;
    border-right: 1px var(--background-color) solid;
}