@font-face {
  font-family: Mulish, sans-serif;
  src: url(./fonts/Mulish-VariableFont_wght.ttf);
}

:root {
  --background-color: #2c2f34;
  --background-around: #23272a;
  --left-servers-color: #c0dff1;
  --primary-color: #99aab4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: Mulish, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

header {
  background-color: var(--background-around);
  display: none;
}

h1 {
  color: #99aab4;
  font-size: 1.8rem;
  width: max-content;
  margin-left: 0.7rem;
  flex-direction: row;
}

main {
  background-color: var(--background-color);
  flex-wrap: nowrap;
}

li {
  list-style: none;
}

.container {
  max-width: 192rem;
  display: flex;
}

/* left bar */
.left-menu {
  background-color: var(--background-around);
  height: 100vh;
  width: 100%;
  max-width: 6.8rem;
}

.account-image {
  border-top: 1px var(--background-color) solid;
  height: 8.5rem;
  margin: 0 auto;
  position: relative;
}

.account-image a {
  display: block;
  max-width: max-content;
  position: relative;
  top: 25%;
  margin: auto;
}

.account-image:hover {
  background: linear-gradient(90deg, #54608b 0%, #2c2f34 100%);
}

.logo_self {
  display: block;
  border-radius: 100px;
  width: 5rem;
  height: 5rem;
}

.left-list li {
  list-style: none;
  height: 28rem;
  border-top: 1px var(--background-color) solid;
  display: flex;
  align-items: flex-end;
  max-height: 28rem;
}

.left-list li img {
  display: block;
  margin: 0 auto;
  margin-top: 0;
  width: 6rem;
  height: 6rem;
  fill: #7289d9;
}

.friends-left {
  width: 4rem;
  height: 4rem;
}

.settings {
  border-top: 1px var(--background-color) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.9rem;
}

.settings img {
  display: block;
  margin: 0 auto;
}

a:hover .settings:hover {
  background: linear-gradient(90deg, #54608b 0%, #2c2f34 100%);
}

.left-list li:hover {
  background: linear-gradient(90deg, #54608b 0%, #2c2f34 100%);
  animation: ease-in-out;
}

/* list servers */
.lists-server {
  width: 100%;
  height: 100vh;
  max-width: 24.5rem;
  border-top: 1px var(--background-color) solid;
  border-right: 1px var(--background-color) solid;
  padding-top: 1rem;
  border-right: 1px var(--background-around) solid;
  position: relative;
  overflow: hidden;
}

.servers {
  overflow: auto;
}

.servers li {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-height: 24.5rem;
  max-width: 24.5rem;
  height: 100%;
  padding: 1rem 2rem;
}

.servers li:hover {
  background: #3e444e;
}

.server-icon {
  border-radius: 100px;
  max-width: 5.4rem;
  max-height: 5.4rem;
}

.server-text {
  width: 100%;
  max-height: max-content;
  align-self: center;
}

.server-name {
  color: var(--left-servers-color);
  font-size: 1.6rem;
  font-weight: 700;
  max-width: max-content;
}

.server-description {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 300;
  max-width: max-content;
}

.minmenu {
  display: flex;
  background-color: #1f2123;
  padding: 1.6rem 1rem 1.6rem 1rem;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.user-status {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-status img {
  max-width: 4rem;
  max-height: 4rem;
  border-radius: 100px;
}

.username {
  color: var(--left-servers-color);
  font-size: 1.4rem;
  font-weight: 700;
}

.status {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 400;
}

.MicroAndVoice {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.MicroAndVoice li {
  padding: 0;
  max-width: 3.6rem;
}

.MicroAndVoice img {
  max-width: 2rem;
  max-height: 2rem;
}

.MicroAndVoice button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* chatroom */

.chatroom {
  width: 100%;
  position: relative;
}

.header-chat {
  border-right: 1px var(--background-around) solid;
  border-bottom: 1px var(--background-around) solid;
  height: 100%;
  max-height: 4.6rem;
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  justify-content: space-between;
  align-items: center;
}

.header-chat ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-right: 1rem;
}

.header-chat li {
  width: 100%;
  height: 100%;
  max-width: 4.4rem;
  max-height: 4.4rem;
  padding: 1.1rem;
}

.header-chat li:hover {
  background: #3e444e;
}

.header-chat li img {
  max-width: 3.3rem;
  max-height: 3.3rem;
}

.threadname {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.threadname img {
  max-width: 3rem;
  max-height: 3rem;
}

.threadname p {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 700;
  max-width: max-content;
}

.input-message {
  background: #3e444e;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  bottom: 0;
  margin: 0 2.1rem 2.9rem;
  width: 100%;
  max-width: 125.1rem;
  height: 100%;
  max-height: 8.8rem;
  align-items: center;
  border-radius: 20px;
  padding-left: 2rem;
}

.input-message form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2rem;
}

.input-message button {
  background-color: transparent;
  border-color: transparent;
}

.input {
  height: 100%;
  width: 90%;
  background-color: transparent;
  border-color: transparent;
}

.input::placeholder {
  font-size: 1.6rem;
  font-weight: 500;
  color: #99aab4;
  position: relative;
}

.input[type="text"]:focus,
.input[type="text"] {
  font-size: 1.6rem;
  color: #99aab4;
  border: none;
}

/* tree */

.tree {
  height: 100vh;
  width: 100%;
  max-width: 23.5rem;
}

.tree-search {
  border-bottom: 1px var(--background-around) solid;
  height: 100%;
  width: 1005;
  max-height: 4.6rem;
}

.tree-search form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.tree-search form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tree-input {
  width: 100%;
  height: 100%;
  max-width: 19.8rem;
  max-height: 2.4rem;
  background-color: var(--background-around);
  border: none;
  border-radius: 15px;
  padding-left: 1rem;
}

.tree-input::placeholder {
  font-size: 1.4rem;
  color: var(--primary-color);
}

.tree-input[type="text"]:focus,
.tree-input[type="text"] {
  font-size: 1.6rem;
  color: #99aab4;
  border: none;
}
